
@{
    ViewBag.Title = "Index";
}

<header class="header">
    <div class="text-light text-center text-uppercase w-50 text-left float-right p-1 slagOrd"><strong> Vy </strong> kjører for deg</div>
</header>

<section class="mt-4 w-50 sectionRegistrering mx-auto">
    <h2 class="text-center mb-4">Hvor ønsker du å reise?</h2>

    <form class="form-group" action="" method="post">
      
                <table class="table table-hover border-top-0 tabell">
                    <tr>
                        <td class="align-items-center form1">
                            <div class="form-group row pl-5">
                                <p class="mr-3 pt-1"> <strong>Fra: </strong></p>
                                <input type="text" id="name" class="form-control-plaintext form-control-sm rounded-0 p-0 mr-5 registrerReise" placeholder="Hvor vil du reise fra?">

                                <p class="mr-3 pt-1"> <strong>Til: </strong></p>
                                <input type="text" id="name" class="form-control-plaintext form-control-sm rounded-0 p-0 registrerReise" placeholder="Hvor vil du dra?">

                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <div class="form-group row pl-5 mb-0 form2">
                                <p class="mr-2"><strong> En vei: </strong></p>
                       
                                <div class="form-check mr-5 pt-1">
                                    <input type="radio" class="form-check-input" value="enVei" name="typeReise" />
                                </div>
                        
                                <p><strong>Tur/Retur: </strong></p>
                        
                                <div class="form-check ml-2 pt-1">
                                    <input type="radio" class="form-check-input" value="turRetur" name="typeReise" />
                                </div>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <div class="form-group row pl-5 form3">
                                <p class="mr-3"><strong> Dato: </strong> </p>
                                <input type="date" class="input-group date form-control-plaintext mr-5 datoOgTid" />


                                <p class="mr-3"><strong> Tid: </strong> </p>

                                <select class="form-control-plaintext datoOgTid pr-0">
                                    <option>00:00</option>
                                    <option>01:00</option>
                                    <option>02:00</option>
                                    <option>03:00</option>
                                    <option>04:00</option>
                                    <option>05:00</option>
                                    <option>06:00</option>
                                    <option>07:00</option>
                                    <option>08:00</option>
                                    <option>09:00</option>
                                    <option>10:00</option>
                                    <option>11:00</option>
                                    <option>12:00</option>
                                    <option>13:00</option>
                                    <option>14:00</option>
                                    <option>15:00</option>
                                    <option>16:00</option>
                                    <option>17:00</option>
                                    <option>18:00</option>
                                    <option>19:00</option>
                                    <option>20:00</option>
                                    <option>21:00</option>
                                    <option>22:00</option>
                                    <option>23:00</option>
                                </select>
                            </div>
                       
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="form-group row form4">
                                <ul class="list-unstyled ml-5">
                                    <li class="mb-2">
                                        <input type="submit" class="buttons" value="-" />
                                        <span>0</span>
                                        <span><button class="buttons pr-2">+</button></span>
                                        <span class="ml-1"> <strong>Voksen</strong></span>
                                    </li>
                                    <li class="mb-2">
                                        <input type="submit" class="buttons" value="-" />
                                        <span>0</span>
                                        <span><button class="buttons pr-2">+</button></span>
                                        <span class="ml-1"> <strong>Student</strong></span>
                                    </li>
                                    <li class="mb-2">
                                        <input type="submit" class="buttons" value="-" />
                                        <span>0</span>
                                        <span><button class="buttons pr-2">+</button></span>
                                        <span class="ml-1"> <strong>Barn 6-17år</strong></span>
                                    </li>
                                </ul>

                                <ul class="list-unstyled ml-5">
                                    <li class="mb-2">
                                        <input type="submit" class="buttons" value="-" />
                                        <span>0</span>
                                        <span><button class="buttons pr-2">+</button></span>
                                        <span class="ml-1"> <strong>Barn 0-5</strong></span>
                                    </li>
                                    <li class="mb-2">
                                        <input type="submit" class="buttons" value="-" />
                                        <span>0</span>
                                        <span><button class="buttons pr-2">+</button></span>
                                        <span class="ml-1"> <strong>Honnør</strong></span>
                                    </li>
                                    <li class="mb-2">
                                        <input type="submit" class="buttons" value="-" />
                                        <span>0</span>
                                        <span><button class="buttons pr-2">+</button></span>
                                        <span class="ml-1"> <strong>Verneplikt</strong></span>
                                    </li>

                                </ul>
                            </div>
                        </td>
                    </tr>
                </table>  

            </div>
        </div>

        <!---
        <table class="table">
            <thead>
                <tr class="bg-danger">
                    <th class="bg-succes">Fra: <input type="text" /> </th>
                    <th>Til: <input type="text" /> </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                </tr>
            </tbody>
        </table>  -->
    </form>

</section>


<style>
    header {
        overflow: hidden;
        background-image: linear-gradient(to top, rgba(0,0,0,0.1), rgba(0,0,0,0.5)), url(/Image/bakgrunnVy.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: 100%;
        height: 50vh;
    }

    .slagOrd {
        font-size: 60px;
        font-family: 'Georgia Pro';
        margin-top: 100px;
        background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7));
    }

     .form1 p {
        font-size: 22px;
    }

     .form2 p {
        font-size: 18px;
    }

     .form3 p {
        font-size: 18px;
    }
     
     .form4{
         width:70%;
         margin: 0 auto;
     }

    .registrerReise{
      outline: none;
      font-size:25px;
      border-bottom: 2px solid #7d7d7d;
      background-color: #f5f5f5;
       
    }

    .datoOgTid{
        outline: none;
        border-bottom: 2px solid #7d7d7d;
        background-color: #f5f5f5;
    }

    span{
        display:inline-block;
    }

    .tabell td{
        padding-top: 20px;
        padding-bottom: 5px;
        width:100%;
    }

    .buttons{
        width:25px;
        height:25px;
        line-height: 1px;
        padding-bottom:5px;
        border:0;
        border-radius:100%;
    }
</style>